@charset "UTF-8";
	
	*{
		margin: 0px, 0px, 0px, 0px;
		padding: 0px, 0px, 0px, 0px;	
	}
	.divDesign{
		display: block;
		height: 120px;
		width: 250px;
		border: 1px solid black;
		/* border-box: 15px gray; */
	}
	
	form{
		width: 230px;
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 10px;
		height: 100px;
		border: 1px solid red;
		border-radius: 10px;
	}